*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Garamond;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100% ;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px;

}
#nav-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#nav h3{
    font-size: 16px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
    

}


#nav i{
    font-size: 16px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;

}
 #nav h1{
    font-weight: 500;
    font-size: 22px;
text-transform: uppercase;

}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;
}

#nav #btn2{
   border: none;
    color:white;
    background-color: rgb(255,34,34);
}

#main>h1{
position: absolute;
top: 50%;
left: 50%;
    font-size: 100px;
    text-transform: uppercase;
    width:100%;
    text-align: center;
    transform:translate(-50%,-50%);
  
}

img{
    height:300px;
    width:200px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
border-radius: 20px;
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom:5%;
    left:3%;
}